<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="username">Username:<p>{{user.username}}</p></label>
    
    <label for="username">First name:</label>
    <input name="first_name" id="" value="{{user.userprofile.first_name}}">

    <label for="username">Last name:</label>
    <input name="last_name" id="" value="{{user.userprofile.last_name}}">

    <label for="birth_date">Email:</label>
    <input type="email" name="user_email" id="" value="{{ user.userprofile.user_email }}">

    <label for="birth_date">Photo:</label>
    <input type="file" name="photo" id="" value="{{ user.userprofile.photo.url }}">
    
<!--     <img src="{{ user.userprofile.photo.url }}" name="photo" alt="" style="width: 50px;">
 -->
    <!-- Add other fields here -->

    <button type="submit">Save Changes</button>
</form>


