body{
    font-family:'Open Sans', sans-serif;
  }
.editform{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    align-content: center;
    gap: 10px;
    border-radius: 10px;
    height: 350px;
    

}
.editform:nth-child(9) {
    grid-column: span 2;
}
.edit{
    height: 300px;
    margin-top: 60px;
    
}
.htwo{
    grid-column: span 2;
}
.edituser{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}
.adduser{
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    height: 500px;
    width: 800px;
    margin-left: 250px;
    /* transform: translate(-50%, -50%); */
 
}
.Add-user{
    display: grid;
    gap: 10px;
    align-items: center;
    /* justify-content: center; */
}
.tolbar1{
    grid-column: span 3;
}
.inputfour{
    grid-column: span 2;
}

/* Edit admin profile */
.edittwo{
    margin-top: 40PX;
    height: 500px;
    
}
.auserboard{
    justify-items: center;
    margin-left: 300px;
    margin-top: 10px;
    width: 740px;
    height: 650px;
    border-radius: 10px;
    box-shadow: 15px 4px 4px 0px #00000040;



}
.userprofile{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
    

}

/* #mypro{
    margin-left: 5px;
    text-decoration: underline;
} */
.mypro:hover{
    text-decoration: underline #38A899;;
}
.updatepro:hover{
    text-decoration: underline #38A899;;
}
.adminedituserpage{
    display: flex;
    gap: 10px;
}
